
  .section-bg {
    background-image: url("https://i.postimg.cc/W3n89prv/bg.avif");
    background-repeat: no-repeat;
   
  }
  .header {
  background: #fff;
  transition: all 0.5s;
  z-index: 997;
  height: 90px;
  border: none;
  padding: 0;
  margin: 0;
  overflow: hidden;
}

/* Media query for smaller screens */
@media (max-width: 575px) {
  .header {
    height: 70px;
  }
}

/* Styles for the container within the header */
.header .container {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0;
  margin: 0;
}

/* Styles for the logo and its container */
.header .logo {
  display: flex;
  align-items: center;
  margin-left: 20px;
}

.header .logo img {
  max-height: 90px;
  margin-left: 10px;
}

.header .logo h1 {
  font-size: 28px;
  font-weight: 700;
  color: #000;
  margin: 0;
  font-family: var(--font-secondary);
}

.header .logo h1 span {
  color: var(--color-primary);
}

/* Styles for the navigation bar */
.header .navbar {
  display: flex;
}

.header .navbar ul {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
}

.header .navbar ul li {
  margin-left: 25px; /* Adjust spacing as needed */
}

.header .navbar ul li a {
  display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 3px;
    font-family: var(--font-secondary);
    font-size: 16px;
    font-weight: 600;
    color: #7f7f90;
    white-space: nowrap;
    transition: 0.3s;
    position: relative;
}

.header .navbar ul li a:hover {
  color: var(--color-primary);
}

/* Styles for the "Book a Table" button */
/* Button styles */
.header .btn-book-a-table,
.header .btn-book-a-table:focus {
  font-size: 14px;
  color: #fff;
  background: var(--color-primary);
  padding: 8px 20px;
  margin-left: 30px;
  border-radius: 50px;
  transition: 0.3s;
}

.header .btn-book-a-table:hover,
.header .btn-book-a-table:focus:hover {
  color: #fff;
  background: rgba(206, 18, 18, 0.8);
}

.breadcrumbs {
  padding: 15px 0;
  background: rgba(55, 55, 63, 0.05);
  margin-top: 90px;
}

@media (max-width: 575px) {
  .breadcrumbs {
    margin-top: 70px;
  }
}

.breadcrumbs h2 {
  font-size: 24px;
  font-weight: 400;
  margin: 0;
}

.breadcrumbs ol {
  display: flex;
  flex-wrap: wrap;
  list-style: none;
  padding: 0;
  margin: 0;
  font-size: 14px;
}

.breadcrumbs ol li+li {
  padding-left: 10px;
}

.breadcrumbs ol li+li::before {
  display: inline-block;
  padding-right: 10px;
  color: #676775;
  content: "/";
}

@media (max-width: 992px) {
  .breadcrumbs .d-flex {
    display: block !important;
  }

  .breadcrumbs h2 {
    margin-bottom: 10px;
  }

  .breadcrumbs ol {
    display: block;
  }

  .breadcrumbs ol li {
    display: inline-block;
  }
}